<div id="items-header">
  <h1><%= "#{@feed.title}" %></h1>
  <span class="stats">
  {unread} {total}
  </span>
</div>

<div class="items">
<% for item in @items %>
  <div class="accordion-group">
    <div class="accordion-heading<%= item.is_viewed == 1 ? ' item-viewed' : '' %>" id="<%= "item-header-#{item.id}" %>">
      <a class="accordion-toggle item-title" data-toggle="collapse" href="#collapse-<%= "#{item.id}" %>">
        <%= "#{item.title}" %>
      </a>
    </div>
    <div id="collapse-<%= "#{item.id}" %>" class="collapse in">
      <div class="accordion-inner">
        <strong><a href="<%= "#{item.url}" %>"><%= "#{item.title}" %></a></strong>
        <div class="dates">
        (Added: <%= "#{item.added}" %>)
        (Pubdate: <%= "#{item.pub_date}" %>)
        </div>
        <div class="content" id="<%= "item-content-#{item.id}" %>">
        <% # TODO optimize if item.sanitized.length < X, show %>
        <% # raw("#{item.sanitized}") %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>

